.env
.env.*
!.env.example
!be/.env.example
!fe/.env.example
**/vendor/
**/node_modules/
**/dist/
**/.phpunit.cache/
**/coverage/
**/test-results/
**/playwright-report/
**/.DS_Store
be/bootstrap/cache/*.php
be/storage/**
!be/storage/**/
!be/storage/**/.gitignore

**/.phpunit.result.cache
